@import url('https://fonts.googleapis.com/css?family=Aldrich|Bangers|VT323');
/* This is like phat boi text > 'Bangers', cursive;
  This is like arcade pixel text > 'VT323', monospace;
  This is like pretty ugly text >  'Aldrich', sans-serif; */

body {
  background-color: rgb(65, 178, 181);
  background-image: url('../res/img/defaultBacking.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  min-height: 720px;
  height: 100%;
}

.lobby #menu {
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 2px 2px 1px rgba(40, 40, 40, 0.2);
  text-align: center;
  margin: auto;
  width: 30%;
  min-width: 500px;
  padding: 3%;
}

.lobby #menu button {
  font-family: 'Bangers', cursive;
  font-size: 2em;
  border: 0px;
  background-color: rgb(40,40,40);
  color: rgb(240, 240, 240);
  padding: 5%;
  margin: 2%;
  transition: all .4s ease-in-out;
}

#logo {
  margin: auto;
  width: 50%;
  margin-bottom: 3%;
}

button {
  font-family: 'Bangers', cursive;
  font-size: 1em;
  border: 0px;
  background-color: rgb(40,40,40);
  color: rgb(240, 240, 240);
  padding: 5%;
  margin: 2%;
  transition: all .4s ease-in-out;
}
button:hover {
 background-color: rgb(70,70,70);
 cursor: pointer;
 transform: scale(1.05);
 transition: all .2s ease-in-out;
}

.lobby #menu button:hover {
  background-color: rgb(70,70,70);
  cursor: pointer;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.panel .title {
  font-family: 'Bangers', cursive;
  color: rgb(40,40,40);
  font-size: 3em;
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 2px 2px 1px rgba(40, 40, 40, 0.2);
  padding: 3%;
  margin: 3%;
}

.panel {
  margin: 5%;
  width: 41%;
  height: 100%;
  padding: 2%;
  float: left;
}
.panel .content {
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 2px 2px 1px rgba(40, 40, 40, 0.2);
  margin: 3%;
  padding: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  font-family:'VT323', monospace;
  font-stretch: expanded;
  font-size: 1.2em;
  overflow-y: hidden;
  text-align: center;

}

.lobbyCharButton {
  font-family: 'Bangers', cursive;
  height: 100px;
  width: 100px;
  margin: 2%;
  float: left;
  transition: all .2s ease-in-out;
  box-shadow: 1px 2px rgba(40, 40, 40, 0.4);
  padding: 2%;
  vertical-align: middle;
}

.lobbyCharButton:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.inputBox {
  font-family: 'Bangers', cursive;
  font-size: 0.6em;
  padding: 3%;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(70, 70, 70);
}

#game {
  text-align: center;
  margin: auto;
}

.heartName {
  font-family: 'Bangers', cursive;
  font-size: 1.2em;
  color: rgb(242, 242, 242);
  position: fixed;
}
